@import '../Button.scss';

.wrapper {
    position: relative;
    top: 100px;

    .card {
        max-width: 400px;
        margin: 0 auto;

        form {
            text-align: left;

            .formButtons {
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}